<script map>
const { esriImportModules } = await localImport('./utils/arcgis-js-es6import.js')

const Esri = await esriImportModules({
  GraphicsLayer: "esri/layers/GraphicsLayer", 
  Graphic: "esri/Graphic", 
  Map: "esri/Map", 
  MapView: "esri/views/MapView",
  Sketch: "esri/widgets/Sketch", 
})

return ({
    deps: { scope: ['map', 'maps']},

    ...Cle.DefineSubprops(
      "map", ["center", "zoom", "graphicItems"]
    ),

    createdAt: undefined,
    
    onInit: $ => {
              
      const graphicsLayer = new Esri.GraphicsLayer();
    
      const map = new Esri.Map({
        basemap: "topo-vector",
        layers: [graphicsLayer]
      });
    
      const view = new Esri.MapView({
        container: $.ctx.mapContainer.el,
        map: map,
        zoom: $.zoom,
        center: $.center
      });
    
      view.when(() => {
        const sketch = new Esri.Sketch({
          layer: graphicsLayer,
          view: view,
          // graphic will be selected as soon as it is created
          creationMode: "update"
        });
    
        view.ui.add(sketch, "top-right");


        // restore ghraphics
        $.graphicItems.forEach(graphic=>{
          graphicsLayer.add(new Esri.Graphic({  // graphic with line geometry
            geometry: graphic.geometry, // set geometry here
            symbol: graphic.symbol
          }));
        })
        
        // Listen to sketch widget's create event.
        sketch.on("create", function(event) {
          // check if the create event's state has changed to complete indicating the graphic create operation is completed.
          if (event.state === "complete") {
            $.graphicItems = [...$.graphicItems, event.graphic]
          }
        });

      });

      view.on("mouse-wheel", event => {
        // console.log("ZOOOOM", view.zoom);
        $.zoom = view.zoom-1
      });
      view.on("drag", event => {
        // console.log("DRAAAAG", event.action, $.center, [view.center.longitude, view.center.latitude]);
        if (event.action === "end") { $.center = [view.center.longitude, view.center.latitude] }
      });
      
      $.createdAt = new Date().toString()
    },

    onUpdate: $ => {
      console.log("Update!")
    },

    on_mapChanged: $ => {
      console.log("map changed!")
    }
    
})</script>

<view map>
  <div>
    <span>createdAt: {{ @createdAt }}</span>
    <div #ctx_id = "mapContainer"  [style] = "'padding: 0; margin: 0; height: 500px; width: 500px;'"></div>
  </div>
</view>