Script is the component definition, where declare variables, function etc.
Remember: we are inside a function block with signature 

  (Cle [cle module], params: {...}, state: {...}, style: String, DepsInj: {...}, u: {...utils...}) => { 
    ... 
  }

<script comp1> 
console.log(
  Cle, params, state, style, DepsInj, u
)

// we are in async context so can use await.
// in this components import muste be absolute! we use a global var to handle this. in real Prod app you can use "/path" directly
const listComponent = await Cle.remoteHtmlComponent(baseHref+"/components/list") 
const allInOneComponent = await Cle.remoteHtmlComponent(baseHref+"/components/all-in-one", {component: "MyToolbar"}) 
const {StandardComponent} = await import(baseHref+"/standard-components/standard.js")

// since we do some imperative logic before definition we must use "return "
return [{ // definition

    sayHi: "Hello world!",

    onInit: $ => {
      console.log("DEMO", $.sayHi, $.rootProp)
    }
  },

  { deps: { listComponent, allInOneComponent, StandardComponent, InjectedComponent: DepsInj.InjectedComponentFromExternal ?? {div: "component-not-provided" } } } // options {deps, extraDefs}
]
</script>


View is the template
<view comp1>
  <div>
    <h3>{{@sayHi}}</h3>
    <use-listComponent></use-listComponent>
    <hr>
    <use-listComponent [set-array]="['a1', 'b2', 'c3']"></use-listComponent>
    <hr>
    <h3>From All In One Components</h3>
    <use-allInOneComponent></use-allInOneComponent>
    <hr>
    <use-StandardComponent></use-StandardComponent>
    <li>An external li (non-styled)</li>
    <hr>
    <use-InjectedComponent></use-InjectedComponent>
    <li>An injected component (from external: IoC / DI) </li>
  </div>
</view>


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

You can define multiple componets in the same file by setting 
a name in script and view (in the form of attribute without value)
<script comp2>({})</script>

<view comp2><h3>Helloooo</h3></view>

Note: the extra text outside script and view tags will be ignored!


Script part is [optional]
<view comp3><h3>Pure View Only</h3></view>