Script is the component definition, where declare variables, function etc.
Remember: we are inside a function block with signature 

  (Cle [cle module], params: {...}, state: {...}) => { 
    ... 
  }

<script comp1> 
console.log(
  Cle, params, state
)

// we are in async context so can use await.
// in this components import muste be absolute! we use a global var to handle this. in real Prod app you can use "/path" directly
const listComponent = await Cle.remoteHtmlComponent(baseHref+"/components/list") 
const {StandardComponent} = await import(baseHref+"/standard-components/standard.js")

// since we do some imperative logic before definition we must use "return "
return [{ // definition

    sayHi: "Hello world!",

    onInit: $ => {
      console.log("DEMO", $.sayHi, $.rootProp)
    }
  },

  { deps: { listComponent, StandardComponent } } // options {deps, extraDefs}
]
</script>


View is the template
<view comp1>
  <div>
    <h3>{{@sayHi}}</h3>
    <use-listComponent></use-listcomponent>
    <hr>
    <use-listcomponent [set-array]="['a1', 'b2', 'c3']"></use-listcomponent>
    <hr>
    <use-standardcomponent></use-standardcomponent>
  </div>
</view>



You can define multiple componets in the same file by setting 
a name in script and view (in the form of attribute without value)
<script comp2>({})</script>
<view c2><h3>Helloooo</h3></view>