body{
  font-family: Lato;
  letter-spacing: 0.1px;
}

h3{
  display:inline-block;
}
hr{  
    margin: 10px 0px 0px 0px;
    border: 0;
    border-top: 1px solid #E6EAEA;
}
ul{
  padding-left: 20px;
  padding-bottom: 10px;
}
li { 
  font-family: Lato;  
  letter-spacing: 0.1px;
  margin: 12px 15px 0px 0px;
  /* font-size: 0.9em; */
  overflow-wrap: break-word;
  list-style-type:none;
  cursor: pointer;
}

.function-btn-container{
  /* float: right; */
  /* margin-right: 10px; */
  /* margin-top: 14px; */

  margin-left: 5px;
}

.function-btn{
  display: inline-block;
  margin: 0px 5px;
  padding: 5px 8px;
  cursor:pointer;
  background-color: #ffeaa7; /* #ffeaa7; */
  border-radius: 20px;
  font-size: 0.7em;
}
.function-btn:hover{
  color:rgb(78, 78, 78);
}

/*/////////////////////////////////////////////////*/
input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.9em;;
  height: 0.9em;;
  top: 0;
  left: 0;
  border: 1px solid #555555;
  border-radius: 3px;
  background-color: white;
  /* z-index: 10; */
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 0.47em;
  height: 0.77em;
  border: solid black;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -1px;
  left: 3px;
}

li span.content {
  overflow-wrap: break-word;
}

li span.content:hover{
  color: #1dd1a1;  
}

li span.done{
  text-decoration: line-through;
  opacity: 0.5;
}

li span.done-status{
  opacity: 0.5;
}
li span{
  margin-left: 5px;
  font-family: Lato;  
  letter-spacing: 0.1px;
  cursor: pointer;
  /* line-height: 130%; */
}

.priority-div {
  background-color: #E6EAEA;
  color: #f5f5f5;
  border-radius: 20px;
  display: inline-block;
  padding: 3px 6px;
  font-size: 0.7em;
  vertical-align: initial;
  margin-right: 7px;
}

.priority-value-10{
  background-color: #d63031;
  color: #f5f5f5;
}
.priority-value-9, .priority-value-8{
  background-color: #db5e5e;
  color: #f5f5f5;
}
.priority-value-7{
  background-color: #e17055;
  color: #f5f5f5;
}
.priority-value-6, .priority-value-5{
  background-color: #fdcb6e;  
  color: #f5f5f5;
}
.priority-value-4, .priority-value-3{
  background-color: #00b894;
  color: #f5f5f5;
}
.priority-value-2, .priority-value-1{
  background-color: #00cec9; /*#a2c882;*/
  color: #f5f5f5;
}
.priority-value-0{
  background-color: #E6EAEA;
  color: #f5f5f5;
}

.due-to-div {
  background-color:#E6EAEA;
  border-radius: 20px;
  /* color: #f5f5f5; */
  display: inline-block;
  /* line-height: 130%; */
  padding: 3px 6px;
  font-size: 0.7em;
  margin-left: 6px;
  /* float: right;
  bottom:0; */
}
.remaning-time{
  background-color: rgb(245, 207, 215);
}

.remove-button{
  /* background-color: transparent;  */
  background-color: E6EAEA;
  /* #ff6b6b; */
  /* color: white; */
  padding: 3px 4px;
  /* border-radius: 100%; */
  float: right;
  margin-right: 7px;
  opacity: 0.5;
}

.remove-button:hover{
  /* background-color: #ff6b6b; */
  /* color: gray; */
  opacity: 1;
}
  
  

input.add-todo-ipt {
    height: 2rem;
    width: calc(100% - 5px);
    padding: 0px 0px 0px 5px;
    color: #32465a;
    border: 0.5px solid gray;
    border-radius: 4px;
}

input:focus {
  outline: none;
}
