<script maps>
// expand Cle lib utils
const { cle } = Cle

// import components
const { Tab, Tabs } = await localImport("../../components/tab.component/tab.js")
const { BootstrapIcon } = await localImport("../../components/vendor-dependent/bootstrap-icon.component/bootstrap-icon.js")
const mapComponent =  await Cle.remoteHtmlComponent("components/map", {component: "map"})

let uidGen = 0;
const initialMapSettings = ()=>({uid: uidGen++, center: [0,0], zoom: 3, graphicItems: []})

// define components used into view (deps)
return [{
  
    maps: [initialMapSettings()],

    // on: { ctx: { tabs: { tabsNumChanged: $ => {
    //   console.log("Tabs Changed!")
    // }}}},
    
    def: {
      addMap($){
        $.maps = [...$.maps, initialMapSettings()]
        $.ctx.tabs.activateTab($.maps.length-1)
      },
      
      async addMapOnTop($){
        $.maps = [initialMapSettings(), ...$.maps]
        $.ctx.tabs.activateTab(0)
      },

      removeMap($, idx){
        $.maps = $.maps.filter((m, i)=>i !== idx)
        $.ctx.tabs.activeTabIndex >= idx && $.ctx.tabs.activateTab($.ctx.tabs.activeTabIndex - 1)
      },

      removeAll($){
        $.maps = []
      },

      sortByUid($){
        $.maps = [...$.maps.sort((a,b)=>a.uid-b.uid)]
      },

      changeAllUid($){
        uidGen = 100
        $.maps = $.maps.map((m, i)=>({...m, uid: m.uid*100}))
      },

    }
    
}, 

{ deps: { 

  mapTabsComponent: (
    Tabs({},
      Tab({ meta: {forEach: "map", of: $ => $.maps, define: {index: "i"}, full_optimized: true, idComparer: (o,n)=>o.uid !== n.uid, subComparer: (o,n)=>{console.log(o,n); return o.center !== n.center} },
        label: cle.span({ style: "display: flex;"},
          cle.span({}, $ => `Map ${ $.i } [uid: ${ $.map.uid }]`), //  - (${ $.map.zoom } -> [${ $.map.center }])
          Cle.Use(BootstrapIcon, {style: "margin-left: 5px; margin-top: -2px;", let_icon: 'bi-x-circle', handle_onclick: ($, evt) => {
            evt.stopPropagation();
            $.removeMap($.i)
          }}),
        ),
        content: mapComponent
      }),
  ))
}}]
</script>


<view maps>
  <h3> Hi Developer </h3>
  <use-component1></use-component1>

  <div style="border: 1px solid black; padding: 10px; display: flex; gap: 15px;">
    <button (onclick)="@addMap()">Add</button>
    <button (onclick)="@addMapOnTop()">Add On Top</button>
    <button (onclick)="@removeAll()">Remove All</button>
    <button (onclick)="@sortByUid()">Sort By Uid</button>
    <button (onclick)="@changeAllUid()">Change All Uid</button>
  </div>

  <use-mapTabsComponent #ctx_ref_id="tabs"></use-mapTabsComponent>
  
</view>